body {
    background-color: #f4f4f9;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#headerSection {
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#headerSection h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    margin: 0;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 25%;
    margin-bottom: 10px;
    font-size: 1em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#dropbox {
    padding: 15px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    width: 26.5%;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#loginbtn {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#registerbtn {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#registerbtn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}
#loginbtn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}